  <nav>
    <div class="nav-wrapper blue-grey">
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/flightcode">Flight Codes</a></li>
        <li><a href="/controllers">Controllers</a></li>
        <li><a href="/arrAndDep">All Arrivals & Departures</a></li>
        <li><a href="/arrival">Register Arrival</a></li>
        <li><a href="/departure">Register Departure</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/flightcode">Flight Codes</a></li>
        <li><a href="/controllers">Controllers</a></li>
        <li><a href="/arrAndDep">All Arrivals & Departures</a></li>
        <li><a href="/arrival">Register Arrival</a></li>
        <li><a href="/departure">Register Departure</a></li>
      </ul>
    </div>
  </nav>