  <nav>
    <div class="nav-wrapper blue-grey">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/flightcode">Flight Codes</a></li>
        <li><a href="/arrival">Register Arrival</a></li>
        <li><a href="/arrival">Register Departure</a></li>
      </ul>
    </div>
  </nav>