<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>

<body id="controllers">

  <h3>All Controllers</h3>

  <table id="allcontrollers" class="bordered responsive-table">
    <tr>
      <th>Code</th>
      <th>Name</th>
    </tr>
  </table>
</body>

</html>
