<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <header>
    <% include partials/header %>
  </header>
  <body id="home">
      <h1><%= title %></h1>
      <p id="subheading">Welcome to <%= title %></p>

      <div id='buttons'>
        <a href="/flightcode" class="waves-effect blue-grey btn">Enter flight code</a>
        <a href="/arrival"class="waves-effect waves-light blue-grey btn">Register arrival</a>
        <a href="/departure" class="waves-effect waves-light blue-grey btn">Register departure</a>
      </div>


  </body>
</html>
