<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <header>
    <% include partials/header %>
  </header>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/flightcode" class="waves-effect waves-light btn">Enter flight code</a>
    <a class="waves-effect waves-light btn">Register arrival</a>
    <a class="waves-effect waves-light btn">Register departure</a>


  </body>
</html>
