#home {
	background: url(https://airport-case.herokuapp.com/images/airport.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%; width: 100%;
	text-align: center;
}

#flightcode, #arrival, #departure, #arrAndDep, #controllers {
	text-align: center;
}

h1 {
	color: white;
	font-weight: bold;
}

#subheading {
	color: white;
	font-size: 15pt;
}
.btn {
	margin: 15px;
}

#buttons {
	margin-top: 100px;
}

#allflights {
	max-width: 600px;
	margin: 0 auto;
}

#allcontrollers {
	max-width: 250px;
	margin: 0 auto;
}

.flights {
	max-width: 800px;
	margin: 0 auto;
}

.details {
	max-width: 1200px;
	margin: 0 auto;
}

input {
	max-width: 200px;
	display: inline-block;
	margin: 0 auto;
}

li a {
	color: white;
}

.register {
	margin-top: 50px;
	margin-bottom: 0px;
}

#arrivals, #departures {
	max-width: 1200px;
	margin: 0 auto;
}
